# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Hugging Face and PyTorch cache
~/.cache/huggingface/
~/.torch/

# Environment variables
.env

# macOS metadata
.DS_Store

# VS Code settings
.vscode/

# Log files
*.log

# Streamlit cache
.streamlit/
